




/*
     FILE ARCHIVED ON 10:47:53 Dec 20, 2014 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 20:01:14 Nov 10, 2015.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
@charset "UTF-8";
body,
html{
	overflow-y: scroll;
	color: #CCCCCC;
	background: #000000;
	margin: 0;
	padding: 0;
}

body{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	text-align:center; 
	min-width: 1000px;
}



#wrap{
	margin: 0 auto;
	width: 1000px;
}

#header{
	background: #000;
	margin-bottom: 20px;
	height: 100px;
}

#header h1{
	padding: 5px;
	margin: 0;
}

#main{
	float: left;
	width: 800px;
	text-align:left;	
}

#main h2, #main p {
    padding:0 10px;
}

#main h3 {
    padding:0 10px;
	margin: 0;
}

#main .small {
	font-size: 16px;

}

#main .subtitle{
	font-size: 16px;
	padding:0 10px;
}

#sidebar{
	float: right;
	width: 190px;
	text-align: left;
}

#sidebar ul {
	margin: 0px;
	padding: 0px;
	border: 0px;
}

#sidebar ul li {
	list-style:none;
	margin-bottom: 10px;
	/*display:inline;*/
}

#sidebar ul li a:link {
	color:#999999;
	text-decoration:none;
	padding-top: 7px;
	padding-bottom: 7px;
}

#sidebar ul li a:visited {
	color:#999999;
	text-decoration:none;
	padding-top: 3px;
	padding-bottom: 3px;
}

#sidebar ul li a:hover {
	color:#990000;
	background-color:#000000;
}

#footer{
	clear: both;
	padding-top:20px;
	text-align: left;
}

#footer p {
    padding:5px;
    margin:0;
}


ol li {
	list-style-position:outside; 
	margin-bottom: 10px;
	font-size: 18px;
}

ol li a:link {
	color:#999999;
	text-decoration:none;
}

ol li a:visited {
	color:#999999;
	text-decoration:none;
}

ol li a:hover {
	color:#990000;
	background-color:#000000;
}

blockquote{
	padding: 10px;
	border: 2px solid #CCCCCC;

}

#maintext{
	float:left;
	/*position:absolute;*/
	/*width:600px;*/
	/*width:800px;*/
	left:0px;
	/*top:300px;*/
}


/*
#header {
position:absolute;
background-image: url(/web/20141220104753/http://georgelangfordstory.ca/header.jpg); 
height:300px;
width:600px;
left:0px;
top:0px;
}

#footer {
position:absolute;
height:300px;
width:600px;
left:0px;
top:385px;
}
*/


#maintext h1 {
margin:0;
padding:0;
font-size:36px;
line-height:36px;
font-weight:bold;
text-align:center;
}


#maintextB h2 {
margin:5px 0;
padding:0;
font-size:18px;
line-height:18px;
font-weight:bold;
text-align:center;
}

#maintextB h3 {
margin:0 0 10px 0;
padding:0;
font-size:18px;
line-height:18px;
font-weight:bold;
text-align:center;
text-decoration:underline;
}


#maintextB{
position:absolute;
font-size:18px;
font-weight:bold;
width:600px;
left:0px;
top:0px;
}
#slide{
position:absolute;
font-size:36px;
font-weight:bold;
text-align:center;
width:600px;
height:800px;
left:0px;
top:0px;
}

#nav {
	float:left;
	padding-left:20px;
	margin-top:50px;
	/*position:absolute;*/
	/*left:600px;*/
	/*top:0px;*/
}
#nav ul {
	margin: 0px;
	padding: 0px;
	border: 0px;
}
#nav ul li {
list-style:none;
display:inline;

}
#nav ul li a:link {
color:#999999;
text-decoration:none;
padding-top: 7px;
padding-bottom: 7px;
}
#nav ul li a:visited {
color:#999999;
text-decoration:none;
padding-top: 3px;
padding-bottom: 3px;
}
#nav ul li a:hover {
color:#990000;
background-color:#000000;
}
a:link {
color:#999999;
text-decoration:none;
padding-top: 3px;
padding-bottom: 3px;
}
a:visited{
color:#999999;
text-decoration:none;
padding-top: 3px;
padding-bottom: 3px;
}
a:hover{
color:#990000;
background-color:#000000;
}

